.thread__title {
    font-weight: 600;
    overflow: visible;
    word-wrap: break-word; 
}

.thread__details {
    font-size: 0.75em;
    padding-bottom: 10px;
}

.thread__text {
    font-size: 1em;
    overflow: visible;
    word-wrap: break-word; 
}

.thread__image {
    width: 50%;
}
