// Colors
$black: #0f0f0f;
$white: #f0f0f0;
$gray: #a1a1a1;

$pink: #ff50ac;
$light-pink: #ffb8de;
$dark-pink: #660036;

$red: #dc3545;
$light-red: #f0adb3;
$dark-red: #821722;

$yellow: #ffc107;
$light-yellow: #ffe79e;
$dark-yellow: #997300;

$green: #28a745;
$light-green: #90e4a4;
$dark-green: #134e21;

$blue: #17a2b8;
$light-blue: #84e2f0;
$dark-blue: #0b4c56;
