@use "colors" as *;

input[type="text"],
input[type="password"],
textarea, select {
    border: 2px $pink solid;
    font-size: 1em;
    padding: 12px;
    font-family: inherit;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    margin: 5px 0;
    background-color: white;
}

textarea {
    min-height: 120px;
}
